<!-- query.html -->
<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
	<title>Academify-Lite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0/dist/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>


    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700">

	<script src="{{ url_for('static', filename='js/chatgpt.js') }}"></script>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/theme.css') }}" media="screen">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/nicepage.css') }}" media="screen">

    <meta name="theme-color" content="#478ac9">


</head>
<body class="u-body u-xl-mode" data-lang="en">
    <header class="u-border-2 u-border-custom-color-15 u-custom-color-15 u-header u-header" id="sec-c42a" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
      <style class="u-sticky-style" data-style-id="57d9">.u-sticky-fixed.u-sticky-57d9:before, .u-body.u-sticky-fixed .u-sticky-57d9:before {
      borders: top right bottom left !important; border-color: var(--custom-color-14) !important; border-width: 1px !important
      }
      </style>
      <div class="u-clearfix u-sheet u-sheet-1">
          <img class="u-image u-image-contain u-image-default u-image-1" src="{{url_for('static', filename='img/Logo-removebg-preview.png')}}" alt="" data-image-width="489" data-image-height="510">
          <p class="u-custom-font u-font-georgia u-text u-text-custom-color-7 u-text-default u-text-1"> Academify-Lite</p>
          <p class="u-custom-font u-font-georgia u-text u-text-custom-color-7 u-text-default u-text-2"> Effortlessly translate your research into impactful X messages</p>
        </div>
    </header>
        <section class="u-clearfix u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-white u-section-1" id="carousel_6cf8">
          <div class="u-container-style u-expanded-width u-gradient u-group u-shape-rectangle u-group-1">
            <div class="u-container-layout u-container-layout-1">
              <div class="custom-expanded data-layout-selected u-align-center u-clearfix u-gutter-14 u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout">
                  <div class="u-layout-row">
                    <div class="u-align-left u-container-style u-layout-cell u-radius-20 u-shape-round u-size-24 u-white u-layout-cell-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
                      <div class="u-container-layout u-container-layout-2" >
                        <div class="custom-expanded u-align-center u-form u-form-checks-spacing-2 u-form-1">
                          <form action="" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form-1" style="padding: 10px;" id = "form_1">
                            <div class="u-form-group u-form-message u-label-top u-form-group-1">
                              <label for="prompt" class="u-custom-font u-font-oswald u-label u-text-palette-3-dark-3 u-label-1">Paste your paper's abstract, main point or/and key findings. Let the application transform it into engaging and shareable X posts
                                <!--
                                <span  class="u-file-icon u-icon u-icon-1" >
                                  <img src="static/img/14034398.png" alt="" title="Enter the main idea of your academic paper, such as the abstract section, key points from the discussion section, or results. Share your academic findings and insights to generate engaging posts.">
                                </span>
                                -->
                              </label>
                              <br>
                              <br>
                              <textarea placeholder="Enter your text here" rows="11" cols="50" id="prompt" name="message" class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-3-base u-input u-input-rectangle u-input-1" required="" oninput="form_valid()"></textarea>
                              <p id="wordCountMessage"></p>
                            </div>
                            <div class="u-form-group u-form-select u-label-top u-form-group-2">
                              <div class="u-form-select-wrapper">
                                <select id="toneSelect" name="select" class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-3-base u-input u-input-rectangle u-input-2">
                                  <option value="Friendly">Friendly tone</option>
                                  <option value="Formal">Formal tone</option>
                                  <option value="Curious/Questioning">Curious/Questioning tone</option>
                                  <option value="Humorous">Humorous tone</option>
                                  <option value="Narrative/Storytelling">Narrative/Storytelling tone</option>
                                </select>
                                <svg class="u-caret u-caret-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" style="fill:currentColor;" xml:space="preserve"><polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>
                              </div>
                            </div>
                            <div class="u-align-center u-form-group u-form-submit u-label-top u-form-group-3">
                              <input type="submit" value="submit" class="u-form-control-hidden">
                              <button  class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-hover-palette-2-light-2 u-palette-3-base u-radius u-btn-1" id="nnn">Generate</button>
                            </div>
                            <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                            <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                            <input type="hidden" value="" name="recaptchaResponse">
                            <input type="hidden" name="formServices" value="4b7b40fd-0715-0070-7d05-59f4aa05c986">
                          </form>
                        </div>
                         <button  class="u-align-center u-border-2 u-border-hover-palette-2-light-2 u-border-palette-3-base u-btn u-btn-round u-button-style u-none u-radius u-text-palette-2-base u-btn-2" onclick="reset()" id="reset_btn">
                           <span class="u-file-icon u-icon u-icon-1"><img src="static/img/9899316.png" alt=""></span>
                         </button>
                      </div>
                    </div>
                    <div class="u-align-left u-container-style u-layout-cell u-radius-20 u-shape-round u-size-36 u-white u-layout-cell-2" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
                      <div class="u-container-layout u-container-layout-3" style="overflow: auto;">
                        <h5 class="u-custom-font u-font-oswald u-text u-text-palette-3-dark-3 u-text-1">Results</h5>

                        <div class="u-align-center u-table u-table-responsive u-table-1" id="tweets">
                              <table class="u-table-entity u-table-entity-1">
                                <colgroup>
                                  <col width="70%">
                                  <col width="10%">
                                  <col width="10%">
                                  <col width="10%">
                                </colgroup>
                                <tbody class="u-table-alt-palette-3-light-3 u-table-body u-table-body-1" id="tbl">
                                </tbody>
                              </table>
                        </div>
                        <div class="custom-expanded u-container-align-center u-container-style u-group u-group-2">
                          <div class="u-container-layout u-valign-middle u-container-layout-4" data-image-width="160" data-image-height="197" id="loading"></div>

                      </div>
                    </div>

                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
      </section>


      <section>
        <!-- The Modal -->
        <div class="modal" id="editPopup" >
          <div class="modal-dialog" style="height: 600px;width: 600px;">
            <div class="modal-content">

              <div class="modal-body">

                <div class="mb-3">
                  <label for="editText" class="col-form-label">   </label>
                  <textarea class="form-control" id="editText" rows="7"></textarea>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="closePopup()">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveEdit()">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="u-clearfix u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-white u-section-3 ">
        <div class=" u-container-style u-container-align-center u-container-style u-grey-10 u-group u-radius u-radius-20 u-shape-round popuptext" id ="copied_div">
            <div class="u-container-layout u-valign-middle u-container-layout-5">
              <p class="u-align-center u-custom-font u-font-georgia u-small-text u-text u-text-variant u-text-2"> copied to clipboard</p>
            </div>
        </div>
      </section>


    <section class="u-backlink u-clearfix u-grey-80">
      <p class="u-text">
        <span>&copy; 2024 Academify-Lite | Developed as part of University of Oulu Thesis project </span><br>
        <span>The application is provided for educational and research purposes.</span><br>
        <span>For inquiries or feedback, please contact : Maha.Eldamnhory@oulu.fi</span><br>
      </p>
    </section>
</body>
</html>
